@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: #ecfeff;
    height: fit-content;
}

/* Header Work */
.navbarWidth {
    font-size: 15px;
    font-weight: 500;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ecfeff;
}

.navLink .activated {
    background-color: rgba(6, 182, 212, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(6, 182, 212, 0.5);
    width: 60px;
}

.navbar-brand,
.navbar-nav .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-item {
    margin-left: 30px;
}

.backColor {
    background-color: #083344;
    width: 100px;
    height: auto;
    border-radius: 5px;
    color: #ecfeff;
    font-weight: 500;
    padding-top: -100px;
}

.backColor:hover {
    color: #ecfeff;
}

@media (max-width: 576px) {
    .backColor {
        width: 100%;
    }

    .navLink .activated {
        background-color: transparent;
        box-shadow: none;
    }

    .nav-link:hover {
        color: black;
        font-weight: bold;
    }

    .nav-item {
        padding-top: 15px;
    }

    .space {
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .navbar {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* Content Work */
.content-container {
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100vh;
}

.content-container .col1 {
    text-align: start;
}

.col1 .name-font {
    color: #0891b2;
    font-size: 20px;
    font-weight: bold;
}

.col1 .main-text {
    font-size: 60px;
    font-weight: bold;
}

.col1 .last-paragraph {
    text-align: justify;
}

.col1 .left-text {
    text-align: end;
    color: #0891b2;
    margin-bottom: 20px;
}

.col1 .hire-button {
    background-color: #083344;
    color: #ecfeff;
}


.col2 {
    justify-content: center;
}

.col2 .image {
    margin: auto;
}

.icon-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.icon-container a {
    padding: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 481px) {
    .content-container {
        align-items: center;
        height: 70vh;
    }

    .col2 .image {
        height: 100px;
        width: auto;
    }

    .icon-container i {
        display: none;
    }

    .col1 .left-text {
        text-align: start;
        margin-top: 0px;
    }

    .col1 .main-text {
        font-size: 30px;
    }

    .col1 p {
        font-size: 12px;
    }

    .col1 .button-container .hire-button {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        width: 100px;
        font-size: 12px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 769px) {
    .col2 .image {
        height: 200px;
        width: auto;
    }
    .icon-container i {
        display: none;
    }

    .col1 .left-text {
        text-align: start;
        margin-top: 0px;
    }
    .col1 .main-text {
        font-size: 30px;
    }

    .col1 p {
        font-size: 12px;
    }

    .col1 .button-container .hire-button {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        width: 100px;
        font-size: 12px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .content-container {
        margin-top: 100px;
        padding-left: 50px;
        padding-right: 50px;
        height: 100vh;
    }
    
    .content-container .col1 {
        text-align: start;
    }
    
    .col1 .name-font {
        color: #0891b2;
        font-size: 20px;
        font-weight: bold;
    }
    
    .col1 .main-text {
        font-size: 60px;
        font-weight: bold;
    }
    
    .col1 .last-paragraph {
        text-align: justify;
    }
    
    .col1 .left-text {
        text-align: end;
        color: #0891b2;
        margin-bottom: 20px;
    }
    
    .col1 .hire-button {
        background-color: #083344;
        color: #ecfeff;
    }
    
    
    .col2 {
        justify-content: center;
    }
    
    .col2 .image {
        margin: auto;
    }
    
    .icon-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .icon-container a {
        padding: 10px;
    }  
}



/* Footer Work */
footer {
    margin-top: 0px;
    background-color: rgb(8, 51, 68, 0.3);
}

.quick-access ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quick-access ul li {
    padding: 20px;
}

.quick-access ul a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.footer-icon {
    display: flex;
    justify-content: center;
}

.footer-icon a {
    padding: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.logo-container ul{
    justify-content: center;
    margin: 0px;
}

.logo-container a {
    text-decoration: none;
    color: #000;
}
footer .row p{
    background-color:rgb(8, 51, 68,0.5);
    height: 30px;
    
}
footer .row p span{
    color: #22d3ee;
    font-weight: 500;
    align-items: center;
}

footer .copy-rights{
    margin-bottom: 0px;
    align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 481px) {
    footer {
        bottom: 0;
        left: 0;
        width: 100%;
        position: relative;
        clear: both;
    }
    
    .quick-access ul {
        flex-wrap: wrap;
        font-size: 12px;
    }
    
    .quick-access ul li {
        padding: 5px;
    }
    
    footer .row p {
        height: auto;
        margin-bottom: 0;
        font-size: 13px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 769px) {
    footer {
        bottom: 0;
        left: 0;
        width: 100%;
        position: relative;
        clear: both;
    }
    
    .quick-access ul {
        flex-wrap: wrap;
        font-size: 12px;
    }
    
    .quick-access ul li {
        padding: 5px;
    }
    
    footer .row p {
        height: auto;
        margin-bottom: 0;
        font-size: 13px;
    }
}