*{
    padding: 0;
    margin: 0;
}


body{
    background-color: #ecfeff;
}
.nightModeContainer {
    /* background-color: #0000004d; */
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    margin-top: 10px;
    z-index: 999;
    color: yellow;
    font-size: 3em;
    border-radius: 50%;
    
}


.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}.custom-toggler {
    font-size:30px; 
}
.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.navButton{
    background: none;
     color: #000;
    font-size: 20px;
    margin: 0px;
}
.nav-item .navButton:hover{
    background-color: #083344;
    color: white;
}

/* Content Work */
.mail-container {
    height: 85vh;
    margin-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

.space-row {
    margin-top: 20px;
}

.heading-contact {
    padding: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.heading-contact h1 {
    font-size: 40px;
    color: #0891b2;
    font-weight: 600;
}

.content-contact {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.content-contact p {
    line-height: 30px;
    color: #083344;
    font-weight: 400;
}

.mailbox-container {
    width: 100%;
    padding-top: 50px;
    margin-right: 11px;
    margin-left: 11px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
}
.mailbox-contact .input-group{
    width: 400px;
}

.mailbox-contact .input-group input::placeholder {
    opacity: 0.3;
}

.mailbox-contact .input-group input:focus {
    box-shadow: none;
}
.submit-contact{
    justify-content: start;
    width: 200px;
}
.submit-contact .btn {
    background-color: #0e7490;
    font-weight: 500;
    border: none;
    width: 100px;
}

.submit-contact .btn:active {
    background-color: #0c5d73;
}

@media (max-width: 768px) {
    .content-contact {
        width: 100%;
        text-align: justify;}

    .mailbox-container {
        display: block;
        margin-bottom: 100px;
        padding:0px;
        margin: auto;
    }

    .mailbox-contact .input-group{
        width:350px;
        margin:0;
    }
    .submit-contact{
        margin: auto;
    }
}


/* Footer Work */
/* Footer Work */

.dayColor{
    background-color: #083344;
    border-style: none;
    width: 200px;
    font-size: 20px;
    }



.night-mode {
    background-color: #1a1a1a; 
    color: #ffffff;
}

.night-mode .navbar-scroll .nav-link,
.night-mode .navbar-scroll .navbar-toggler-icon,
.night-mode .navbar-scroll .navbar-brand,
.night-mode .navbar-scrolled .nav-link,
.night-mode .navbar-scrolled .navbar-toggler-icon,
.night-mode .navbar-scrolled .navbar-brand {
    color: #ffffff;
}

.night-mode .navbar-scroll,
.night-mode .navbar-scrolled {
    background-color: #333333;
}

.night-mode .navButton{
    color: #ffffff;
}
.night-mode .nightModeContainer {
    /* background-color: #ffffffa6;  */
    color: #ffffff;
}
.night-mode .nightColor{
    background-color: #333333;
}
.night-mode .navbar{
    background-color: #ffffffb7;
}
.night-mode .nav-item .navButton{
    color: rgb(0, 0, 0);
}

.hidden{
    display: none;
}
/*night mode*/

