body {
    background-color: #cffafe;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 23rem;
}

.login-container {
    background-color: white;
    width: 400px;
    height: 520px;
    border-radius: 10px;
}
.login-container img{
    margin-top: 10px;
    margin-left: 160px;
    margin-right: auto;
}
.login-container h1{
    color: #083344;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.container .form-control::placeholder {
    opacity: 0.3;
    font-size: 15px;
}

.container .form-control:focus {
    box-shadow: none;
}
.form-check{
    justify-content: start;
    padding-left: 13px;
}
.forgot-password{
    padding-right:13px;
    text-align: right;
}
.forgot-password a{
    text-decoration: none;
    color: #0891b2;
}

.btn:hover {
    background-color: #083344;
}

.btn {
    font-weight: 600;
}

.btn:active {
    background-color: #083344;
}

.account a{
    text-decoration: none;
    font-weight:500;
    color: #0891b2;
}
