*{
    padding: 0;
    margin: 0;
}


body{
    background-color: #ecfeff;
}

/* Header Work */
.nightModeContainer {
    /* background-color: #0000004d; */
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    margin-top: 10px;
    z-index: 999;
    color: yellow;
    font-size: 3em;
    border-radius: 50%;
    
}


.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}.custom-toggler {
    font-size:30px; 
}
.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.navButton{
    background: none;
     color: #000;
    font-size: 20px;
    margin: 0px;
}
.nav-item .navButton:hover{
    background-color: #083344;
    color: white;
}
/* Content Work */
.content-container{
    margin-top: 100px;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}
.content-container .row .image-container {
    padding-left: 50px;
}

.content-container .row .para-container{
    text-align: justify;
    padding-top: 50px;
    font-size: 15px;
    color: #083344;
    font-weight: 500;
    margin-left: -100px;
    line-height: 30px;
}
.content-container .row .para-container h1{
    font-weight: 700;
    color: #0e7490;
}
.content-container .row .image-container img{
   border: 0px solid #22d3ee ; 
   box-shadow: 0 0 15px rgba(2, 217, 255, 0.5);
   backdrop-filter: blur(5px);
}
@media (max-width: 768px) {
    .content-container .row{
        padding: 0px;
        height: 100vh; 
    }
    .content-container .row .image-container{
        padding-left: 12px;
    }
    .content-container .row .image-container img{
        width: 250px;
        height: 300px;
        margin-left: 60px;
        margin-right: auto;
    }
    .content-container .row .para-container{
        padding-top: 50px;
        margin-left: 0px;
        line-height: 25px;
    }
}

.skill-container {
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}
.skill-container h1{
    font-weight: 700;
    color: #0e7490;
}
.progress {
    margin: 10px 0;
    background-color: rgba(24, 24, 27, 0.2);
    height: 12px;
}

.skill { 
    margin-left:0px;
}

.progress-bar {
    border: 1px solid #083344;
    box-shadow: 0 0 5px rgba(2, 217, 255, 0.5);
}

.progress-bar.gradient {
    background: linear-gradient(to right, #155e75, #22d3ee);
}

.progress-bar.rounded {
    border-radius: 20px;
}

.skill label {
    color: #0891b2;
    margin-left: 0px;
    padding-bottom: 5px;
    font-weight: 600;
}

.certificate-container {
    text-align: start;
}

.certificate-container ul {
    margin-top: 40px;
    list-style: none;
    padding: 0;
}
.certificate-container ul li{
    color: #083344;
    font-weight:500;
}

@media (max-width: 768px) {
    .skill-container {
        margin-top: 150px;
        display: block;
        margin-bottom: 40px;
    }
    .certificate-container ul {
        margin-top: 20px;
        list-style: none;
        padding: 0;
    }
}



/* Footer Work */
.dayColor{
    background-color: #083344;
    border-style: none;
    width: 200px;
    font-size: 20px;
    }



.night-mode {
    background-color: #1a1a1a; 
    color: #ffffff;
}

.night-mode .navbar-scroll .nav-link,
.night-mode .navbar-scroll .navbar-toggler-icon,
.night-mode .navbar-scroll .navbar-brand,
.night-mode .navbar-scrolled .nav-link,
.night-mode .navbar-scrolled .navbar-toggler-icon,
.night-mode .navbar-scrolled .navbar-brand {
    color: #ffffff;
}

.night-mode .navbar-scroll,
.night-mode .navbar-scrolled {
    background-color: #333333;
}

.night-mode .navButton{
    color: #ffffff;
}
.night-mode .nightModeContainer {
    /* background-color: #ffffffa6;  */
    color: #ffffff;
}
.night-mode .nightColor{
    background-color: #333333;
}
.night-mode .navbar{
    background-color: #ffffffb7;
}
.night-mode .nav-item .navButton{
    color: rgb(0, 0, 0);
}

.hidden{
    display: none;
}
/*night mode*/

